﻿<%@ Control Language="C#" Inherits="System.Web.Mvc.ViewUserControl" %>

<!-- AddThis Button BEGIN -->
<div class="addthis_toolbox addthis_default_style addthis_32x32_style">
    <a class="addthis_button_twitter"></a>
    <a class="addthis_button_facebook"></a>
  <%--  <a class="addthis_button_myspace"></a>
    <a class="addthis_button_stumbleupon"></a>
    <a class="addthis_button_digg"></a>--%>
    <a class="addthis_button_favorites"></a>
    <a class="addthis_button_print"></a>
    <a class="addthis_button_email"></a>      
   
   <%--<span class="addthis_separator">|</span>
    <a href="http://www.addthis.com/bookmark.php?v=250&amp;pub=ecopawz" class="addthis_button_expanded"></a>--%>
</div>
<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pub=ecopawz"></script>
<!-- AddThis Button END -->
