* {
	margin: 0;
	padding: 0;
}

.wrapper {
	width: 100%;
	overflow: hidden;
}

.wrapper-1 {
	width: 100%;
}

.clear {
	clear: both;
	font-size: 0%;
	line-height: 0%;
	height: 0;
}

input, select {
	vertical-align: middle;
	font-weight: normal;
}

img {
	border: 0;
	vertical-align: top;
	text-align: left;
}

ul, ol {
	list-style: none;
}

object {
	vertical-align: top;
}

a {
	color: #524164;
}

a:hover {
	text-decoration: none;
}

body {
	background: #1c1a1f url(images/body-tail.gif) repeat-x 0% 0%;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #393939;
}

h3 {
	padding: 0 0 25px 0;
	line-height: 1.333em;
	font-size: 1em;
	color: #040505;
}

.extra {
	padding: 0 0 16px 0;
}

h4 {
	padding: 0 0 22px 0;
	line-height: 1.667em;
	font-size: 1em;
	color: #040505;
}

h6 {
	padding: 0 0 0 2px;
	line-height: 1.667em;
	font-size: 1em;
	color: #040505;
}

.fleft {
	float: left;
}

img.fleft {
	margin: 4px 27px 0 0;
}

img.fleft1 {
	float: left;
	margin: 4px 27px 25px 0;
}

.fright {
	float: right;
}

.col-1, .col-2, .col-3, .col-4 {
	float: left;
	overflow: hidden;
}

.block-1, .block-2, .block-3, .block-4 {
	float: left;
	overflow: hidden;
}

#main {
	background: url(images/main-tail.gif) repeat-y 44px 0%;
	width: 980px;
	margin: 0 auto;
	font-size: 0.75em;
}

#header {
	background: url(images/header.jpg) no-repeat 0% 0%;
	height: 462px;
	position: relative;
}

#logo {
	position: absolute;
	top: 43px;
	left: 66px;
}

#navi {
	position: absolute;
	top: 70px;
	right: 63px;
}

#navi li {
	float: left;
	padding: 0 0 0 15px;
	font-size: 0.917em;
	font-weight: bold;
	color: #fff;
}

#navi li a {
	text-decoration: none;
	color: #fff;
}

#navi li a:hover {
	text-decoration: underline;
}

#navi li.act a {
	color: #72b733;
}

#menu {
	position: absolute;
	top: 157px;
	left: 70px;
}

#menu li {
	position: relative;
}

#menu li a img {
	position: relative;
}

#menu-act {
	position: absolute;
	top: -14px;
	left: 8px;
}

#slogan {
	position: absolute;
	top: 260px;
	left: 608px;
}

#content {
	padding: 12px 65px 23px 65px;
}

#content p {
	padding: 0 0 20px 0;
	line-height: 1.667em;
	color: #524164;
}

#content p em {
	float: right;
	padding: 0 35% 0 0;
	font-style: normal;
}

#content p.extra {
	padding: 0 0 16px 0;
	line-height: 1.333em;
	color: #040505;
}

#content p.no-indent {
	padding: 0;
}

.box {
	margin: 0 0 12px 0;
}

.box .border-top {
	background: #f1f1f2 url(images/border-top.jpg) repeat-x 0% 0%;
}

.box .border-bot {
	background: url(images/border-bot.jpg) repeat-x 0% 100%;
}

.box .border-left {
	background: url(images/border-left.jpg) repeat-y 0% 0%;
}

.box .border-right {
	background: url(images/border-right.jpg) repeat-y 100% 0%;
}

.box .corner-top-left {
	background: url(images/corner-top-left.jpg) no-repeat 0% 0%;
}

.box .corner-top-right {
	background: url(images/corner-top-right.jpg) no-repeat 100% 0%;
}

.box .corner-bot-left {
	background: url(images/corner-bot-left.jpg) no-repeat 0% 100%;
}

.box .corner-bot-right {
	background: url(images/corner-bot-right.jpg) no-repeat 100% 100%;
	width: 100%;
}

.box .box-indent {
	padding: 45px 20px 15px 26px;
}

.box p {
	padding: 0 0 13px 0 !important;
	line-height: 1.417em !important;
	font-size: 1em !important;
	color: #474759 !important;
}

.box p b {
	display: block;
	padding: 12px 4px 0 0;
	text-align: right;
	color: #000;
}

.box p b.extra {
	padding: 18px 9px 0 0;
}

.box-1 .border-top {
	background: #fff url(images/border-top.gif) repeat-x 0% 0%;
}

.box-1 .border-bot {
	background: url(images/border-bot.gif) repeat-x 0% 100%;
}

.box-1 .border-left {
	background: url(images/border-left.gif) repeat-y 0% 0%;
}

.box-1 .border-right {
	background: url(images/border-right.gif) repeat-y 100% 0%;
}

.box-1 .corner-top-left {
	background: url(images/corner-top-left.gif) no-repeat 0% 0%;
}

.box-1 .corner-top-right {
	background: url(images/corner-top-right.gif) no-repeat 100% 0%;
}

.box-1 .corner-bot-left {
	background: url(images/corner-bot-left.gif) no-repeat 0% 100%;
}

.box-1 .corner-bot-right {
	background: url(images/corner-bot-right.gif) no-repeat 100% 100%;
	width: 100%;
}

.box-1 .box-indent {
	padding: 23px 17px 21px 13px;
}

.box-1 .box-indent1 {
	padding: 22px 17px 28px 19px;
}

.box-1 .box-indent2 {
	padding: 22px 17px 0 19px;
}

.box-1 p {
	padding: 0 0 21px 2px !important;
}

.box-1 p.no-indent {
	padding: 0 0 0 2px !important;
}

.box-1 p strong {
	color: #040505;
}

.title {
	min-height: 25px;
	height: auto !important;
	height: 25px;
	padding: 0 0 5px 14px;
}

.title-1 {
	min-height: 30px;
	height: auto !important;
	height: 30px;
	padding: 0 0 11px 0;
}

.title-2 {
	background: url(images/title-marker.gif) no-repeat 0% 0%;
	min-height: 30px;
	height: auto !important;
	height: 30px;
	padding: 2px 0 7px 38px;
}

.list-1 li {
	background: url(images/line-hor.gif) repeat-x 0% 100%;
	margin: 0 0 16px 0;
	padding: 0 0 18px 0;
}

.list-1 li p {
	background: url(images/marker-1.gif) no-repeat 0% 7px !important;
	padding: 0 0 0 13px !important;
	line-height: 1.417em !important;
	font-size: 1em !important;
	color: #524164 !important;
}

.list-1 li p strong {
	display: block;
	padding: 2px 0 0 0;
	text-transform: uppercase;
	font-size: 0.917em;
	color: #90e904;
}

.list-1 li p strong a {
	text-decoration: none;
	color: #90e904;
}

.list-1 li p strong a:hover {
	text-decoration: underline;
}

.list-1 li p strong span {
	text-transform: none;
}

.list-1 li.extra {
	padding: 0 0 14px 0;
}

.list-2 li {
	background: url(images/line-hor.gif) repeat-x 0% 100%;
	line-height: 1.417em;
	margin: 0 0 16px 0;
	padding: 0 0 18px 0;
}

.list-2 li a {
	background: url(images/marker-1.gif) no-repeat 0% 6px;
	padding: 0 0 0 13px;
}

.list-2 li.extra {
	padding: 0 0 16px 0;
}

.list-3 {
	padding: 0 0 20px 0;
}

.list-3 li {
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	padding: 0 0 25px 0;
	line-height: 1.667em;
	color: #524164;
}

.list-3 li img {
	float: left;
	margin: 5px 29px 0 0;
}

.list-3 li strong {
	display: block;
	color: #040505;
}

.list-3 li b {
	display: block;
	font-size: 0.917em;
}

.list-3 li b a {
	text-transform: uppercase;
	text-decoration: none;
	color: #90e904;
}

.list-3 li b a:hover {
	text-decoration: underline;
}

.list-3 li.extra {
	padding: 0;
}

.link {
	background: url(images/link-tail.gif) repeat-x 0% 0%;
	display: inline-block;
	height: 26px;
	overflow: hidden;
	float: right;
	text-decoration: none;
	color: #525252;
}

.link span {
	background: url(images/link-left.gif) no-repeat 0% 0%;
	display: inline-block;
}

.link span span {
	background: url(images/link-right.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 27px 0 13px;
	line-height: 22px;
}

.link:hover span span {
	cursor: pointer;
	text-decoration: underline;
}

.link-1 {
	margin: 0 0 0 13px;
	line-height: 1.417em;
	font-weight: bold;
	color: #040505;
}

.link-2 {
	background: url(images/link-tail1.gif) repeat-x 0% 0%;
	display: inline-block;
	margin: 3px 0 0 0;
	text-decoration: none;
	color: #525252;
}

.link-2 span {
	background: url(images/link-left1.gif) no-repeat 0% 0%;
	display: inline-block;
}

.link-2 span span {
	background: url(images/link-right1.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 12px 0 13px;
	line-height: 22px;
}

.link-2:hover span span {
	cursor: pointer;
	text-decoration: underline;
}

.extra-link {
	float: right;
	margin: -7px 0 0 0;
}

.extra-link1 {
	float: right;
	margin: -18px 0 0 0;
}

.container {
	background: #fff url(images/tail.jpg) repeat-x 0% 0%;
}

.container .inner {
	padding: 21px 4px 20px 21px;
}

.container .inner1 {
	padding: 21px 4px 0 21px;
}

.extra-pic {
	float: right;
	margin: 1px -16px 1px 15px;
	position: relative;
}

.extra-pic1 {
	float: right;
	margin: -3px -16px 1px 15px;
	position: relative;
}

#contact-form {
	background: url(images/contact-textarea.gif) no-repeat 0% 121px;
	width: 266px;
	padding: 0 0 20px 1px;
	line-height: 1.667em;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
}

#contact-form strong {
	display: block;
	font-weight: normal;
}

#contact-form label {
	background: url(images/contact-input.gif) no-repeat 0% 20px;
	display: block;
	height: 51px;
	overflow: hidden;
}

#contact-form input {
	background: none;
	width: 258px;
	height: 16px;
	padding: 4px 4px 4px 4px;
	border: none;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
}

#contact-form textarea {
	background: none;
	width: 258px;
	height: 87px;
	padding: 4px;
	border: none;
	float: left;
	overflow: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	color: #524164;
}

#contact-form a {
	background: url(images/link-tail1.gif) repeat-x 0% 0%;
	display: inline-block;
	float: right;
	margin: 27px 0 0 11px;
	text-decoration: none;
	color: #525252;
}

#contact-form a span {
	background: url(images/link-left1.gif) no-repeat 0% 0%;
	display: inline-block;
}

#contact-form a span span {
	background: url(images/link-right1.gif) no-repeat 100% 0%;
	display: inline-block;
	height: 26px;
	padding: 0 12px 0 13px;
	line-height: 22px;
}

#contact-form a:hover span span {
	cursor: pointer;
	text-decoration: underline;
}

#footer {
	background: url(images/footer.gif) no-repeat 44px 0%;
	height: 89px;
}

#footer p {
	padding: 13px 0 0 66px;
	color: #040505;
}

#footer p a {
	margin: 0 0 0 9px;
	text-decoration: none;
	color: #a15fbd;
}

#footer p a:hover {
	text-decoration: underline;
}